// -------------------
// font loading
// -------------------

fontify($national, $national-hash, $sans-fb)
fontify($tiempos, $tiempos-hash, $serif-fb)
fontify($atlas, $atlas-hash, $sans-fb)

set-type-class(all, true)
