.sidebar
	width 20rem
	// position absolute
	display flex
	align-self flex-start
	flex-direction column
	position sticky
	top 5rem
	right 0
	padding-right 2rem

	.mentions
		margin 0 0 2rem 0

		span
			color $red-accent
			font-family $national
			font-weight 700
			set-type-size(large)

	.headline-wrapper

		.headline
			display flex
			border-bottom 1px solid

			.hed-num
				color $red-accent
				font-weight 700
				font-family $national

			.hed-text
				padding-left 1rem
				color darken($dark-tan, 10)

				span
					font-weight 700
					font-family $national
					text-transform uppercase
					color $off-black
					text-decoration underline

	.chart-wrapper
		width 100%
		margin-top 2rem

		.domain, .tick line
			display none

		.tick text
			font-family $national	

		.g-baseline line
			display inline-block

		.line
			display none

		.line-highlight
			fill none
			stroke black
			stroke-width 2
			display inline-block

		.area
			display none

		.area-highlight
			display inline-block
