/* CUSTOM STORY STYLE */
body
	background-color $light-tan
	overflow-x hidden

#decades
	width 100%
	border-top 1px solid $off-black
	padding-top 3rem
	position relative
	display flex
	flex-direction row
	justify-content space-between
	align-items flex-start
