.middle-chunk
	max-width $column-width
	margin 0 auto
	width 100%

	.wordcloud-wrapper
		border-left 1px solid
		width 100%
		margin 0 0 10rem 0
		padding 0 2rem

		.decade-text

			span
				font-weight 700
				font-family $atlas
				text-transform uppercase
				color $off-black
				text-decoration underline

		.wordcloud
			width 100%
			height 300px
