.middle-chunk
	max-width $column-width
	margin 0 auto
	width 100%

	.wordcloud-wrapper
		border-left 1px solid
		width 100%
		margin 0 0 10rem 0
		padding 0 2rem

		.decade-text

			span
				font-weight 700
				font-family $national
				text-transform uppercase
				color $off-black
				text-decoration underline

		.word-cloud

			text
				font-family $tiempos
				fill $dark-tan
				&:hover
					fill $off-black
					font-family $national
					font-weight 700
					text-transform uppercase
