.middle-chunk
	width calc(100% - 7rem)
	position static
	align-self flex-start
	top 0
	right 0
	margin -1.5rem 0 0 0
	padding-right 2rem
	+mq('bp-6')
		margin -1.5rem auto 0 auto
		position relative
		width 50%
		max-width $column-width
		padding-right 0
	+mq('bp-6-5')
		width 100%


	.wordcloud-wrapper
		border-left 1px solid
		width 100%
		margin 0 0 10rem 0
		padding 0 0 0 1rem

		.decade-title
			text-align center
			font-family 'National 2 Narrow Web', Helvetica, Arial, sans-serif
			font-weight 700
			set-type-size('x-large', true)
			&:after
				content '•••'
				set-type-size(xxx-small)
				letter-spacing 4px
				position relative
				bottom 0.5rem
				left 0.5rem
			&:before
				content '•••'
				set-type-size(xxx-small)
				letter-spacing 4px
				position relative
				bottom 0.5rem
				left -0.5rem

		.decade-text

			span
				font-weight 700
				font-family $national
				text-transform uppercase
				color $off-black
				text-decoration underline

		.word-cloud

			.clickedWord
				fill $off-black
				font-family $national
				font-weight 700
				text-transform uppercase
				pointer-events none

			text
				font-family $tiempos
				fill $dark-tan
				&:hover
					fill darken($dark-tan, 20)
