<div class='sidebar'>
	<p class='mentions'>Mentioned <span class='tk-national'>XX%</span> more often, in articles
		including:</p>
	<div class='headline-wrapper'>
		<div class='headline'>
			<p class='hed-num tk-atlas'>1</p>
			<p class='hed-text'></p>
		</div>
		<div class='headline'>
			<p class='hed-num tk-atlas'>2</p>
			<p class='hed-text'></p>
		</div>
		<div class='headline'>
			<p class='hed-num tk-atlas'>3</p>
			<p class='hed-text'></p>
		</div>
	</div>
	<div class='chart-wrapper'>
	</div>
</div>