<div class='sidebar'>
	<p class='mentions'>Mentioned in <span class='tk-atlas'>XX%</span> of all articles, including:</p>
	<div class='headline-wrapper'>
		<div class='headline'>
			<p class='hed-num tk-atlas'>1</p>
			<p class='hed-text'>Headline text goes here, more headline text</p>
		</div>
		<div class='headline'>
			<p class='hed-num tk-atlas'>2</p>
			<p class='hed-text'>Headline <span>text goes</span> here, more headline text</p>
		</div>
		<div class='headline'>
			<p class='hed-num tk-atlas'>3</p>
			<p class='hed-text'>Headline text goes here, more headline text</p>
		</div>
	</div>
	<div class='chart-wrapper'>
	</div>
</div>
