<div class='sidebar'>
	<div class='drawer'>
		<btn class='drawer__toggle'>
			<span>@@include('chevrons-left.svg')</span>
			<span>@@include('x.svg')</span>
		</btn>
	</div>
	<p class='mentions'><span class='word-span tk-national'></span> was mentioned <span class='mentioned-span tk-national'></span>
		more often, including in the articles below:</p>
	<p class='chart-dek'>Mentions per 100,000</p>
	<div class='chart-wrapper'>
	</div>
	<div class='headline-wrapper'>
		<div class='headline'>
			<p class='hed-num tk-atlas'>1</p>
			<p class='hed-text'></p>
		</div>
		<div class='headline'>
			<p class='hed-num tk-atlas'>2</p>
			<p class='hed-text'></p>
		</div>
		<div class='headline'>
			<p class='hed-num tk-atlas'>3</p>
			<p class='hed-text'></p>
		</div>
	</div>

</div>
