<div class='middle-chunk'>
	{{#each doc.nav}}
	<div class='wordcloud-wrapper wordcloud-{{{decade}}}'>
		<p class='decade-title'>{{{decade}}}s</p>
		<div class='decade-text'>{{{text}}}</div>
		{{!-- <div class='wordcloud'></div> --}}
	</div>
	{{/each}}
</div>