<div class='year-nav'>
	{{#each doc.nav}}
	<div class='decade-wrapper'>
		<p class='decade decade-{{{decade}}} tk-national'>{{decade}}s</p>
		<div class='dots'></div>
	</div>
	{{#if @last}}
		<div class='decade-wrapper'>
			<p class='decade tk-atlas'>{{decade}}s</p>
		</div>
	{{/if}}
	{{/each}}
</div>
