<div class='year-nav'>
	{{#each doc.nav}}
		<div class='decade-wrapper'>
			<div class='decade-height'>
				<p class='decade decade-{{{decade}}} tk-national'>{{decade}}s</p>
			</div>
			<div class='dots'></div>
		</div>
		{{#if @last}}
			<div class='decade-wrapper'>
				<div class='decade-height'>
					<p class='decade decade-{{{decade}}} tk-national'>{{decade}}s</p>
				</div>
			</div>
		{{/if}}
	{{/each}}
</div>
