<div class='year-nav'>
	{{#each doc.nav}}
		<div class='decade-wrapper'>
			<div class='decade-height'>
				<p class='decade decade-{{{decade}}} tk-national'>{{decade}}s</p>
			</div>
			{{#if @last}}
				<div></div>
				{{else}}
				<div class='dots'></div>
			{{/if}}
		</div>
	{{/each}}
</div>
